.feed {
    display: inline-block;
    width: 75%;
    margin-left: 25%;
}
.taskContainer {
    width: 482px;
    background: #22252C;
    height: 25%;
    display: inline-block;
    border-radius: 17px;
    margin: 5% 0 0 10%;

    .taskContent {
        text-align: center;
        & p {
            word-break: break-all;
            width: 80%;
            margin: auto;
        }
    }

    .left-items {
        display: inline-flex;
        float: left;
        margin: 3% 0 0 3%;
        font-size: 24px;
        & span {
            margin-left: 13%;
        }
        button {
            background: none;
            border: none;
        }
    }

    .right-items {
        display: inline-flex;
        float: right;
        margin: 2% 5% 1% 0;
        & span {
            margin-left: 13px;
            height: 33px;
            line-height: 33px;
        }
    }

    .price {
        border-radius: 47%;
        width: 39px;
        background-color: #E14658; 
    }
}
